@page "/"
@using Microsoft.Extensions.Logging
@using Microsoft.Extensions.Options
@using DotNetRu.Commune.WasmClient.Model
@using DotNetRu.Commune.GitHubFilesystem
@inject ILogger<Index> _logger;
@inject GitHubFilesystem githubFs;
@inject IOptions<AuditSettings> auditSettings;
@inject NavigationManager _navigationManager;

<h1>DotNetRu Commune</h1>

<p>
    Это тестовое приложение DotNetRU.Commune.<br/>
    Введите свой PAT для авторизации клиента github:<br/>
    <input @bind="pat"> <button name="authBtn" @onclick="ProvidePat">Продолжить</button>
</p>

@code
{
    string pat = string.Empty;

    private async Task ProvidePat()
    {
        try
        {
            await githubFs.StartContext(pat, auditSettings.Value.RepositoryName, auditSettings.Value.OriginalOwner);
            _navigationManager.NavigateTo("ContentView/");
        }
        catch (Exception e)
        {
            _logger.LogError(e, "Ошибка старта контекста реадктирования");
            throw;
        }
    }
}
