<div class="base-component-container">

    <mtp-speaker-list (selected)="onSpeakerSelected($event)"
                      (iconClicked)="addSpeaker()"></mtp-speaker-list>

    <mtp-talk-list (selected)="onTalkSelected($event)"
                   (iconClicked)="addTalk()"></mtp-talk-list>

    <mtp-venue-list (selected)="onVenueSelected($event)"
                    (iconClicked)="addVenue()"></mtp-venue-list>

    <mtp-friend-list (selected)="onFriendSelected($event)"
                     (iconClicked)="addFriend()"></mtp-friend-list>

</div>